.category-slider {
    width: 100%;
    display: flex;
    overflow-x: auto;
  
    background-color: #f8f8f8;
  }
  
  
  .category-slider .swiper {
    width: 100%;
  
    padding: 0 20px;
    box-sizing: border-box; 
  }
  
  
  .category-slide {
    width: 450px !important;
    flex-shrink: 0;
  
  }
  
  .category-card {
    cursor: pointer;
  
    overflow: hidden;
    transition: transform 0.3s ease;
  
    background: #fff;
  
    min-height: 180px;
  }
  
  .category-card:hover {
    transform: scale(1.05);
  }
  
  .category-card img {
    width: 100%;
    height: auto;
    display: block;
  }